.mypaper {
  padding: 20px;
  margin-top: 10px;
  text-align: center;
}

.mycard {
  width: auto;
  display: inline-block;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
}